<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        body{
            padding-top: 10px;
            background-image: url('/static/images/pexels-adrien-olichon-3709369.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
    
    <title>Movie Recommender</title>
</head>
<body>
    <div class="container">
        <h4>Movie Recommender</h4>
        <form action="{{ url_for('predict')}}" method="POST">
            <input type="text" name="name" id="name">
            <input class="btn btn-primary" type="submit" value="Find">
        </form>
        {% if movies %}
            <h4>The Movies similar are</h4>
            {% for movie in movies %}
                {{movie}}<br>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>